
/* #####SECTION##### */	
#section{width:1420px; height:1522px; margin: 0 auto;}

/* #####subLeft##### */
#subLeft{width: 304px;  height:1522px;}
#leftSideTitle{height:184px; width:304px;}
	#leftSideTitle h2{display: block;font-size: 30px;padding-top: 100px; font-weight: 900; letter-spacing: -1px;}	
	
#sideMenuList{height:460px; width:304px;}
	#sideMenuList ul{}
	#sideMenuList ul li{width: 239px; padding: 6px 0 6px 24px; border-bottom: 1px solid #e1e3e6; letter-spacing: -2px;}
	#sideMenuList ul li.first{border-top: 1px solid #3a3a4a;}
	#sideMenuList ul a{ color: #3a3a4a;height: 41px;line-height: 44px; font-size: 18px;}
	#sideMenuList ul .active a{color: #ee0700;}


/* #####subRight##### */
#subRight{width:1116px}
	#location{height:100px;}
	#location .location{height:180px; width: 1116px; margin: 0 auto 37px; padding-top: 20px;}
	#location .location p{padding-top: 20px;height: 16px; }
	#location .location p img{vertical-align: middle;}

.subContentHead{height:150px; width:1116px;}	
	.subContentHead p.contentTitle{font-size: 32px;color: #3a3a4a;font-weight: 700;letter-spacing: -0.5px;}

.subContentHead .bottomSearch{height: 60px; margin-top: 10px; margin-left: 206px;float: right;}
	.subContentHead .bottomSearch ul li{float: left; height:40px; margin-top: 6px; margin-right: 10px;}
	.subContentHead .bottomSearch select{ padding: 0 15px;font-size:17px;border: 1px solid #e1e3e6; border-radius: 8px; background-color: #ffffff;  height: 40px; 
    line-height: 32px;margin-left: 12px; margin-top: 3px; width: 150px;}
	.subContentHead .bottomSearch input[type="text"]{font-size:17px; width: 257px; border: 1px solid #e1e3e6; border-radius: 8px; background-color: #ffffff;height: 40px;padding-left: 15px;}
	.subContentHead .bottomSearch input[type="button"]{font-size:17px; background-color: #44465c;   color: #ffffff; cursor: pointer; border-radius:8px; text-align: center;width: 90px; height:40px;line-height: 32px;padding: 0 12px;}
	


#notice{padding-top:46px;height:260px; width:1116px;margin-bottom: 24px;}
	.textContent{width: 954px; padding: 45px 80px;height: 161px; border: 1px solid #e1e3e6;}
	.textContent p{color: #3a3a4a; display: block; font-size:16px;}
	.textContent span {color: #3a3a4a; display: block; font-size:16px;padding-bottom: 15px;}
	.textContent p span.bold{font-weight: 700; padding-bottom: 26px;}
	
#loginArea{width: 1116px;}		
#loginHeader{height:56px; width: 1116px;border: 1px solid #bec2c8}
#loginHeader div{ height: 56px; padding: 0 10px;line-height: 56px;font-size: 15px;border-left: 0;text-align: center;background: #ffffff; color: #6c6d73; width:538px;}
#loginHeader > div.on{ border-color: #ee0700;color: #ffffff; background: #ee0700;}
#loginHeader > div{cursor:pointer;}
	


#loginWrap{width:1116px; margin: 0 0 0 0;}
#login {width: 427px;text-align: center; margin:35px auto; padding-bottom: 33px;}
#login strong{display: block;color: #3a3a4a;font-size: 21px;font-weight: 700;margin-bottom: 30px;}
#login p{font-size: 12px; line-height: 30px;}
#loginForm legend{display: none;}
#loginForm fieldset{ width:1116px;display: block; vertical-align: middle; margin: 48px auto; border:1px solid #efefef;  border-radius:57px; height: 422px}
#inputBox{padding: 12px 14px; margin-left: 90px; border: 1px solid #000000;}
#userId, #userPWD{width:300px; border: 1px solid #999999; padding: 12px;}

#loginForm label.labelStyle{font-size: 18px;line-height: 34px;width: 76px; display: block; float: left; font-weight:bold; letter-spacing:-1px;}

#btnLogin{display: block;margin:10px auto; height: 80px;font-size: 15px;font-weight: normal;text-align: center;  background-color: #44465c; color: #ffffff; width: 1062px; border-radius: 5px;}
#btnCerticication{display: block;margin: 0px auto; height: 60px;font-size: 15px;font-weight: normal;text-align: center;  background-color: #44465c; color: #ffffff; width: 1062px; border-radius: 5px;}

#loginOther{padding-top:30px;}
#loginOther ul li {float:left;}
#loginOther ul li a{ margin-left: 14px;font-size: 13px;line-height:13px;display: block; color:#3a3a4a}

		
	

